$color-bg : #0E181EF2;
$color-blue: #0CEBEB;
$color-white: #FFFFFF;

$bg-width: 360px;
$bg-height: 780px;
$bg-top: 30px;

$btn-width: 65px;
$btn-height: 65px;

$btn-switch-width: 25px;
$btn-switch-height: 24px;

$little-text: (
    font-family: 'Poppins',
    font-size: 18px,
    font-weight: 500,
    line-height: 20px,
    letter-spacing: 0.01em,
    text-align: right
);

$big-text: (
    font-family: 'Roboto',
    font-size: 42px,
    font-weight: 500,
    line-height: 20px,
    letter-spacing: 0.01em,
    text-align: right
);


